<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Tests.NewTest1"/>
      <class name="SeleniumConcepts.DropDown"/>
      <class name="SeleniumConcepts.ScreenshotTask"/>
      <class name="Tests.NewTest"/>
      <class name="SeleniumConcepts.ActionsTask"/>
      <class name="SeleniumConcepts.Alerts"/>
      <class name="Tests.ContactUsTests"/>
      <class name="SeleniumConcepts.WaitsTask"/>
      <class name="SeleniumConcepts.MultipleWindowsClass"/>
      <class name="SeleniumConcepts.ExcelFileReader"/>
      <class name="SeleniumConcepts.FluentWaitTask"/>
      <class name="SeleniumConcepts.WindowsTask"/>
      <class name="SeleniumConcepts.Actionsclass"/>
      <class name="Tests.HomeTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
